/*--------------------------------------------------------------
    Google Fonts
--------------------------------------------------------------*/
/* DM Serif Display */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* SourceSerifPro */
@font-face {
  font-family: 'SourceSerifPro';
  src: url('../fonts/fonts/SourceSerifPro-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerifPro';
  src: url('../fonts/fonts/source-serif-pro.regular.ttf') format('truetype');
  font-weight: 400; /* regular */
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerifPro';
  src: url('../fonts/fonts/source-serif-pro.semibold.ttf') format('truetype');
  font-weight: 600; /* semibold */
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerifPro';
  src: url('../fonts/fonts/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: 700; /* semibold */
  font-style: normal;
}
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
:root {
  /* fonts */
  --dm-serif: "DM Serif Display", serif;
  --soruce-serif: "SourceSerifPro", serif;
  --lato: "Lato", sans-serif;
  --roboto: "Roboto", sans-serif;
  /*color*/
  --color-0: #191B23;
  --color-1: #000000;
  --color-2: #5D6A83;
  --color-3: #F5F8FF;
  --color-4: #CEA65D;
  --color-5: #1F3650;
   
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  font-family: var(--soruce-serif);  
  font-size: 0.875rem;
  line-height: 1.5;
}
.dm-serif{
  font-family: var(--dm-serif);
}
.source-serif{
  font-family: var(--soruce-serif);
}
.lato{
  font-family: var(--lato);
}
.roboto{
  font-family: var(--roboto);
}
a{
  display: inline-block;
}
.selected {
    border-color: var(--color-4) !important;
    background-color: #fff !important;
}
.custom-checkbox {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-5);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  &::after {
    content: '\f00c';
    font: var(--fa-font-solid);
    font-weight: 900;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    font-size: 12px;
    color: #fff;
  }
  &:checked {
    background-color: var(--color-5);
    color: #fff;
  }
  &.style-two {
    height: 16px;
    width: 16px;
    border: 1.5px solid #96A3BE;
    &::after{
      font-size: 9px;
    }
    &:checked{
      background-color:#28B636;
      border-color: #28B636;
    }
  }
  &.square{
    border-radius: 3px;
    border-width: 2px;
  }
}
.custom-table-wraper {
  .custom-checkbox {
    border: 1px solid #96A3BE;
    &:checked {
      border: 1px solid var(--color-5);
    }
  }
  
}
/*Flat picker*/
.date-flat-picker-custom {
  .flatpickr-calendar {
    background-color: #F8FAFC;
    border: 1px solid #C1D5ED;
    border-radius: 10px;
    box-shadow: none;
    position: static !important;
    width: 100%;
    .flatpickr-innerContainer {
      display: block;
      width: 100%;
    }
    .flatpickr-days {
        display: block;
        width: 100%;
    }
    .flatpickr-rContainer {
      display: block;
      padding: 20px;
    }
    .flatpickr-weekdays {
      display: block;
    }
    .flatpickr-weekdays .flatpickr-weekdaycontainer {
      justify-content: space-between;
      gap: 20px;
    }
    .dayContainer {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .flatpickr-day {
      width: 100%;
      border-radius: 10px;
      border: 1px solid transparent;
    }
    .flatpickr-day.today {
      border-color: #2F4A69 !important;
    }
    .flatpickr-day:hover, .flatpickr-day.selected{
      color: #fff !important;
      background: #2F4A69 !important;
      border-color: transparent !important;
    }
  }
  &.style_2{
    /* position: relative; */
    .flatpickr-calendar{
      position: absolute !important;
      max-width: 315px;
    }
  }
}
/*chart js*/
.chart-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
canvas {
  display: block;
  width: 100%;
  border: none !important;
}
/*Slick*/
.slick-list {
  width: 100%;
}
.custom-slick-dots {
  .slick-dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 10px;
    li {
      width: 8px;
      height:8px;
      border-radius: 50%;
      cursor: pointer;
      background: #486789;
      transition: all 0.3s ease-in-out;
      & button {
        display: none;
      }
      &.slick-active {
        width: 24px;
        border-radius: 50px;
        background-color: var(--color-5);
      }
    }
  }
}
.custom-dot-with-arrow {
  .slider-arrwos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 40px 0;
    .slick-arrow {
      line-height: 1;
      color: #999999;
      font-size: 19px;
    }
  }  
  .slick-dots {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    button {
      display: none;
    }
    li {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      cursor: pointer;
      background: #999999;
      transition: all 0.3s ease-in-out;
      &.slick-active {
        height: 16px;
        width: 16px;
        border-radius: 50px;
        background-color: #1F3650;
      }
    }
  }
}
@keyframes left-right {
 0%{
  transform: translateX(-80px);
 }
 100%{
  transform: translateX(0);
 } 
}
@keyframes right-left {
 0%{
  transform: translateX(80px);
 }
 100%{
  transform: translateX(0);
 } 
}
.left-right{
  animation: left-right 1s ease-in-out;
}
.right-left{
  animation: right-left 0s ease-in-out;
}
.scrollbar-none{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*select-2*/
.custom-select2 + .select2-container{
  display: block;
  position: relative;
  width: 100% !important;
  .select2-selection--single, .select2-selection--multiple {
    padding: 12px 16px;
    border: 1px solid #E2E8F0;
    height: auto;
    line-height: 1.5;
    border-radius: 8px;
    .select2-selection__rendered {
      line-height: 1.5;
      color: #334155;
      font-size: 1rem;
      padding: 0;
    }
    .select2-selection__arrow {
        all: unset;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
      b{
        all: unset;
        height: 5px;
        width: 5px;
        border: 2px solid #475569;
        border-top: 0;
        border-left: 0;
        transform:translateY(-50%) rotate(45deg);
        
      }
    }
    .select2-search__field {
      margin: 0;
    }
  }
  .select2-selection--multiple {
    &:has(.select2-selection__choice) {
      padding: 9px 16px;
    }
    .select2-search.select2-search--inline {
      display: inline-block;
    }
    .select2-selection__choice {
      /* margin-top: 0; */
    }
  }
}
.custom-select2.style_2 + .select2-container {
  .select2-selection--single {
    border: none;
    background: #F8FAFC;
    padding: 10px 16px;
    .select2-selection__rendered {
      line-height: 1.5;
      color: #5D6A83;
      font-size: 1rem;
      padding: 0;
    }
  }
}
/*select-two dropdown*/
.select2-dropdown{
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  .select2-search--dropdown .select2-search__field{
    border: 1px solid #E2E8F0;
  }
  .select2-results__option {
    padding: 12px 16px;
    line-height: 1.5;
    color: #334155;
    font-size: 1rem;
  }
  .select2-results__option.select2-results__option--selectable.select2-results__option--selected,
  .select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
    background-color: #F7FAFC;
    color: #191B23;
  }
}
/*table*/
.with-action-btn-table {
  tbody {
    tr:last-child {
      td:last-child {
        .actions-options {
          bottom: -35px;
          top: auto;
          right: calc(100% + 5px);
        }
      }
    }
  }
}
/*FAQ Accordion*/
.faq-item-wraper {
  .faq-header.active{
    border-color: transparent !important;
  }
}
/* Container */
.container-1440{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

@media only screen and (min-width: 320px) {
  .container-1440 {
    max-width: 100%;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 475px) {
  .container-1440 {
      max-width: 475px;
      padding: 0 20px;
  }
}
@media only screen and (min-width: 640px) {
  .container-1440 {
    max-width: 640px;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-1440 {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-1440 {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-1440 {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1440px) {
  .container-1440 {
    max-width: 1440px;
  }
}